
.image {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #F5F1F1;
    text-align: center;
    padding-bottom: 30px;
    position: absolute;
    right: 0;
}
.background{
    width:inherit;
}
.header{
    display:block;
    align-items: center;
    gap: 9px;
    margin-top: 30px;
}

.text {
    color: #1A0101;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 700;
    text-align: center;
}


/*.underline{
    width: 61px;
    height: 6px;
    background:#1E90FF;
    border-radius:9px;

}*/

.icon {
    color: #ff0080;
    height: 15px;
    width: 15px;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height:59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight:700;
    cursor: pointer;
}
.inputs{
    /*float: right;*/

}
.logo {
    height: 60px;
    width: 60px
}
/*input{
    display:inline;
}*/
