nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    padding: 20px 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
ul {

    display: flex;
    flex-direction:row;
    list-style: none;

}

li {
    position:relative;
    right:3px;
    margin-right: 25px;
    font-size: 20px;
    cursor: pointer;
    list-style:none;
    padding: 0 20px;
    font-family:rubic;
}
svg {
    height: 30px;
    width: 30px;
    align-items: center;
}
a{
    color:white !important;
    text-decoration:none !important;
}
a:visited{
    text-decoration: none !important;
}